
// set of included libraries
-
	var cssLibraries = {
		normalize: 'https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css',
		main: 'css/main.css',
		fonts: "https://fonts.googleapis.com/css?family=Open+Sans"
	}

html
	head
		//Loop for creating links to CSS libraries
		each value,index in cssLibraries
			link(href=value rel='stylesheet')
			//
				#{index}
		meta(charset="utf-8")


		//Block for changing page title
		block pageTitle
		-
			var title= 'Arena lux'
		title= title
	body
		
		//Block for adding scripts in the <body> element
		block scripts
